*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


li{
    list-style: none;
}

a{
    text-decoration: none;
}

ul.main{
    background-color: #32393e;
}

ul.main li{
    display: inline-block;
}

ul.main li a{
    display: inline-block;
    padding: 0 28px;
    font-size: 20px;
    color: aliceblue;
    line-height: 50px;
}

ul.main li a:hover{
    background-color: #60b3ac;
}